<form action="/answer">
  <div class="form-group">
    <label for="inputQuestion">Question</label>
    <input type="text" class="form-control" name="question" placeholder="Enter your question">
  </div>
  <button type="submit" class="btn btn-primary">Ask!</button>
</form>

