// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  margin: 5% 30%;
}

.box {
  border-left: 8px solid grey;
  padding-left: 16px;
  &.answer {
    background: lightyellow;
  }
}
